.add-flight-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f9f9f9;
}

.form-container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-flight-page h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.add-flight-page h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.flight-form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-column input,
.form-column button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-column button {
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-column button:hover {
  background-color: #0056b3;
}
